---
import ProjectDetail from "../../components/ProjectDetail.astro";
import { getProjects } from "../../scripts/getProjects";
import Layout from "../../layouts/Layout.astro";
import { getImage } from "astro:assets";

// Generate static paths for all projects
export function getStaticPaths() {
    // Type assertion for showcase data
    const projects = getProjects();

    return projects.map((project) => ({
        params: { slug: project.slug },
        props: { project },
    }));
}

// Get the project data from props
const { project } = Astro.props;
const currentUrl = `/project/${project.slug}`;

// Handle dynamic images
const images = await import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/projects/*.{jpeg,jpg,png,gif}"
);

if (!images[project.img])
    throw new Error(`"${project.img}" does not exist (ProjectImageCard)`);

const img = await images[project.img]().then((img) => img.default);
const optimized = await getImage({
    src: img,
    format: "jpg",
    width: img.width,
    height: img.height,
});
---

<Layout
    title={`${project.title} – Timo Hausmann`}
    ogUrl={currentUrl}
    ogImage={optimized.src}
>
    <main class="page row">
        <div class="row-inner row-inner--full">
            <ProjectDetail project={project} />
        </div>
    </main>
</Layout>
